.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-footer{
    border: 2px solid grey;
}

table tr, td,th{
    border-bottom: 1px solid gray;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.m-1rem{
    margin:0.5rem;
}