<div class="container">
    <div class="item">

    </div>
    <h2>List Data Component</h2>
    <div class="item">
        <div class="table-data">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Carrier</th>
                        <th>Date Activated</th>
                        <th>Date Added</th>
                        <th>Date Modified</th>
                        <th>Has Data Usage</th>
                        <th>Has Sms Usage</th>
                        <th>Has Voice Usage</th>
                        <th>Iccid</th>
                        <th>Id</th>
                        <th>Identity</th>
                        <th>Imei</th>
                        <th>Imsi</th>
                        <th>In Session</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of currentData ;let i=index" (click)="loadRecord(item.id)">
                        <td><img height="45px" width="60px" [src]="carrierIcon(item.carrier.trim().toLowerCase())"></td>
                        <td>{{item.dateActivated}}</td>
                        <td>{{item.dateAdded}}</td>
                        <td>{{item.dateModified}}</td>
                        <td>{{item.hasDataUsage}}</td>
                        <td>{{item.hasSmsUsage}}</td>
                        <td>{{item.hasVoiceUsage}}</td>
                        <td>{{item.iccid}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.identity}}</td>
                        <td>{{item.imei}}</td>
                        <td>{{item.imsi}}</td>
                        <td>{{item.inSession}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-footer">
            <div class="row container-1">
                <div class="com-md-4 m-1rem">
                    <p style="display: inline;">
                        <span>Rows Per Page</span>&nbsp;
                        <span><select name="displayPerPage" [(ngModel)]="displayPerPage"
                                (ngModelChange)="optionsPerPage($event)">

                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>

                            </select></span>
                    </p>
                </div>
                <div class="com-md-4 m-1rem" style="float: right;">
                    <p style="display: inline;"> 
                        <span>Sort By</span>&nbsp;
                        <span><select name="displayPerPage" [(ngModel)]="sortBy" (ngModelChange)="sortDataBy($event)">
                                <option [value]="'carrier'">carrier</option>
                                <option [value]="'iccid'">iccid</option>
                                <option [value]="'msisdn'">msisdn</option>
                                <option [value]="'id'">id</option>
                                <option [value]="'identity'">identity</option>

                            </select></span>
                    </p>
                </div>
                <div class="com-md-4 m-1rem">
                    <p style="display: inline;">
                        <button (click)="navigateFirst(1)">First<< </button>&nbsp;<button (click)="navigatePrevious()">Previous<<</button>
                    </p>
                    <p style="display: inline;">
                       <span class="hover-on" (click)="setCurrentPage(currentPage1)" [ngClass]="{ 'highlight hover-on': currentPage == currentPage1}">{{currentPage1}}</span>
                       &nbsp;  
                       <span class="hover-on" (click)="setCurrentPage(currentPage2)" [ngClass]="{ 'highlight hover-on': currentPage == currentPage2}"> {{currentPage2}}</span> &nbsp; 
                       <span class="hover-on" (click)="setCurrentPage(currentPage3)"  [ngClass]="{ 'highlight hover-on': currentPage == currentPage3}">{{currentPage3}}</span>
                    </p>
                    <p style="display: inline;">
                        <button (click)="navigateNext()">Next>></button>&nbsp;<button (click)="navigateLast()">Last>></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>