<nav class="navbar bg-primary">
    <div class="container-fluid">
        <a routerLink="/list" class="navbar-brand"> <button class="btn btn-primary" type="submit">List Drop Down</button> </a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </nav>
  <div class="back-home">
    <h1>Home Page</h1>
  </div>
